include mixins
include ../header
include ../mixins

extends ../layout

block content

    +update-bento
    +update-bento-successful
    +header-nav('Homepage Banner Images')

    #current-images.row
        if banners
            +banners-grid

    .row
        #button-actions.col.m6.l5.offset-l1
            a#refresh-button.btn
                i.material-icons sync
            button#update-bento-button.btn.modal-trigger(data-target="update-bento")
                i.material-icons send

            span#banner-filters
                a.filter.btn.red(data-filter=".mix")
                    | All
                a.filter.btn.red(data-filter=".default")
                    | Default
                a.filter.btn.red(data-filter=".custom")
                    | Custom

            #image-upload.col.m9.l8
                #image-dropzone.dropzone(action="/upload" method="post" accept-charset="UTF-8")
                    .dz-default.dz-message
                        | Drop an image file here or click to upload
                        br
                        i.material-icons.medium file_upload
                +new-banner-form

        #calendar-container.col.m6
            #calendar

block append script
    script(src='/node_modules/jquery-lazyload/jquery.lazyload.js')
    script(src='/node_modules/mixitup/build/jquery.mixitup.min.js')
    script(src='/node_modules/dropzone/dist/min/dropzone.min.js')
    script(src='/js/bundle-banners.js')
