include ../header

extends ../layout

block content
    +header-nav(title)
    #wrapper
        h1= title
        p Welcome to our test

        #bannerInfo
            h2 Banner Info
            p
                img(src='', id='bannerInfoImage')
                br
                strong Title:
                |  <span id='bannerInfoTitle'></span>
                br
                strong Greeting:
                |  <span id='bannerInfoGreeting'></span>
                br
                strong Season:
                |  <span id='bannerInfoSeason'></span>
                br
                strong Start Date:
                |  <span id='bannerInfoStartDate'></span>
                br
                strong End Date:
                |  <span id='bannerInfoEndDate'></span>
                br
                strong Time Period:
                |  <span id='bannerInfoTimePeriod'></span>
                br
                strong YUP Image ID:
                |  <span id='bannerInfoImageID'></span>
                br
                strong YUP Image Url:
                |  <span id='bannerInfoImageUrl'></span>
                br
                strong Font Color:
                |  <span id='bannerInfoFontColor'></span>

        h2 Banner List
        #bannerList
            table
                thead
                    th Title
                    th Greeting
                    th Delete?
                tbody

        h2 Add Banner (WIP)
        #createBanner
            fieldset
                input#inputTitle(type='text', placeholder='Banner Title')
                input#inputGreeting(type='text', placeholder='Banner Greeting')
                input#inputSeason(type='text', placeholder='Season')
                br
                input#start(type='text', placeholder='Start Date')
                input#end(type='text', placeholder='End Date')
                input#inputTimePeriod(type='text', placeholder='Time Period')
                br
                input#inputImageID(type='text', placeholder='YUP Image ID')
                input#inputImageUrl(type='text', placeholder='YUP Image URL')
                input#inputFontColor(type='text', placeholder='Font Color')
                br
                button#btnCreateBanner Add Banner

        h2 TEST FORM (WIP)
        form(action='/upload', method='post', enctype='multipart/form-data')
            input(type='file', name='file')
            input(type='submit', value='submit')

block append script
    script(src='/js/bundle-lite.js')

