mixin banners-grid
    each banner in banners
        div(class="#{banner._id} mix #{banner.season} col s12 m6 l4")
            .card
                .card-image
                    img.activator(src='#{banner.image_url}')
                    span.card-title.activator(style="color: #{banner.font_color}")
                        != banner.greeting
                        i.material-icons.right more_vert
                .card-reveal
                    span.card-title
                        != banner.title
                        i.material-icons.right close

                    +banner-details(banner)

                .card-action
                    a.btn-flat.modal-trigger(data-target='editBannerModal-#{banner._id}') EDIT
                    a.btn-flat.modal-trigger(data-target='previewModal-#{banner._id}') VIEW
                    a.deletebanner.btn-flat.modal-close(rel='#{banner._id}') DELETE

            +preview-modal(banner)
            +edit-modal(banner)


mixin edit-modal(banner)
    .modal(id='editBannerModal-#{banner._id}')
        .modal-content
            h4 #{banner.title}
            img.responsive-img(src='#{banner.image_url}')

            +edit-banner-form(banner)


mixin edit-banner-form(banner)
    .row
        form.col.s12(action='/banners/edit/#{banner._id}' method='post')
            .row
                .input-field.col.s12
                    // banner.greeting
                    label(for='greeting') Greeting
                    input(name="greeting" type='text' value='#{banner.greeting}')
            .row
                .col.s4
                    // banner.font_color
                    label(for='font_color') Text Color
                    select.browser-default(name='font_color' value='#{banner.font_color}')
                        - selections = [ 'white', 'black' ]
                        each item in selections
                            option(selected=banner.font_color == item) #{item}
                .col.s4
                    // banner.season
                    label(for='season') Season
                    select.browser-default(name='season' value='#{banner.season}')
                        - selections = [ 'default', 'custom' ]
                        each item in selections
                            option(selected=banner.season == item) #{item}
                .col.s4
                    // banner.time_period
                    label(for='time_period') Time Period
                    select.browser-default(name='time_period' value='#{banner.time_period}')
                        - selections = [ '5am', '8am','11am','2pm','5pm','8pm','11pm','2am' ]
                        each item in selections
                            option(selected=banner.time_period == item) #{item}
            .row
                .input-field.col.s6
                    // banner.start
                    label.active(for='start') Start Date (YYYY-MM-DD)
                    input.datepicker(name='start' value='#{banner.start}')
                .input-field.col.s6
                    // banner.end
                    label.active(for='end') End Date (YYYY-MM-DD)
                    input.datepicker(name='end' value='#{banner.end}')
            .row
                a.modal-action.modal-close.btn-flat
                    | Cancel
                button.update-image.btn-flat(type='submit')
                    | Update


mixin preview-modal(banner)
    .modal(id="previewModal-#{banner._id}", style="background-image: url('#{banner.image_url}');")
        #preview-container
            img.site-logo(src='/images/logo-yp.png')
            h1(style="color: #{banner.font_color}") !{banner.greeting}
            #searchbar-placeholder
            #upsell-area


mixin banner-details(banner)
    table#current-image-table.highlight
        tbody
            tr
                td Greeting
                td
                    != banner.greeting
            tr
                td Text Color
                td #{banner.font_color}
            tr
                td Season
                td #{banner.season}
            tr
                td Start Date
                td #{banner.start}
            tr
                td End Date
                td #{banner.end}
            tr
                td Time Period
                td #{banner.time_period}


mixin new-banner-form
    #image-preview.row
        form#new-image-form.col.s12(method="post")
            input#image_id(type="hidden")
            input#image_url(type="hidden")
            .input-field.col.s12
                textarea#greeting.materialize-textarea(name="greeting" rows="2")
                label(for="greeting")
                    | Greeting:
                    br
                    | (use html 'br' tag)

            .col.s12
                select#font_color.browser-default(name='font_color')
                    option(value='white' selected) white
                    option(value='white') black
                label(for='font_color') Text Color

            .col.s12
                label(for="season") Season
                select#season.browser-default(name='season')
                    option(value='default' selected) default
                    option(value='custom') custom

            .row
                .col.s6
                    label(for="start") Start Date
                    input#start.datepicker(name="start" type="text")
                .col.s6
                    label(for="end") End Date
                    input#end.datepicker(name="end" type="text")

            .row
                .col.s12
                    label(for="time_period") Time Period
                    select#time_period.browser-default(name='time_period')
                        option(value='5am') 5am
                        option(value='8am') 8am
                        option(value='11am') 11am
                        option(value='2pm') 2pm
                        option(value='5pm') 5pm
                        option(value='8pm') 8pm
                        option(value='11pm') 11pm
                        option(value='2am') 2am

            a.cancel-upload.btn-flat
                | Cancel
            button.save.btn-flat(type="submit")
                | Save
