include mixins
include ../header
include ../mixins

extends ../layout

block content

    +new-flag-form
    +update-bento
    +update-bento-successful
    +header-nav('All Purpose Flags')

    .row
        #main.col.s12.m10.offset-m1
            table#flags-table.highlight
                thead
                    tr
                        th(data-field='name') Name
                        th(data-field='flag') Flag (true/false)
                        th(data-field='integer_value') Integer Value
                        th(data-field='valid_from') Valid From (YYYY-MM-DD-HH-MM-SS)
                        th(data-field='valid_to') Valid To (YYYY-MM-DD-HH-MM-SS)
                        th Edit Me
                        th Delete Me
                tbody
                    if flags
                        each flag in flags
                            tr(class="#{flag._id}")
                                td #{flag.name}
                                td #{flag.flag}
                                td #{flag.integer_value}
                                td #{flag.valid_from}
                                td #{flag.valid_to}
                                td
                                    a.btn.modal-trigger(data-target='editFlagModal-#{flag._id}') EDIT
                                td
                                    a.deleteflag.btn(rel='#{flag._id}') DELETE

                            +edit-modal(flag)

    .row
        #button-actions.col.s12.m10.offset-m1
            a.newflag.btn.modal-trigger(data-target='new-flag-form') ADD A FLAG
            a#refresh-button.btn REFRESH CALENDAR
            a#update-bento-button.btn.modal-trigger(data-target='update-bento') PUSH TO BENTO

    .row
        #calendar-container.col.s12.m10.offset-m1
            #calendar

block append script
    script(src='/js/bundle-flags.js')
