mixin new-flag-form
    #new-flag-form.modal
        .modal-content
            h4 Create All-Purpose Flag

            .row
                form.col.s12(action='/flags/create' method='post')
                    input#flag_id(type='hidden')
                    .row
                        .input-field.col.s12
                            label(for='name')
                                | Name
                                em
                                    |  (e.g: 'ypm_enable_optimizely')
                            input#name(name='name' type='text')

                    .row
                        .input-field.col.s3
                            label(for='integer_value') Integer Value
                            input#integer_value(name='integer_value' type='number' maxlength='4' size='4')

                        .col.s7.offset-s2
                            label Flag
                            select#flag.browser-default(name='flag')
                                option(value='true') true
                                option(value='false' selected) false

                    .row.section
                        .input-field.col.s6
                            label(for='valid_from') Valid From
                            input#valid_from.datepicker(name='valid_from' type='text')

                        .input-field.col.s6
                            label(for='valid_to') Valid To
                            input#valid_to.datepicker(name='valid_to' type='text')

                    a.modal-action.modal-close.btn-flat
                        | Cancel
                    button.submit.btn-flat(type="submit")
                        | Save


mixin edit-modal(flag)
    .modal(id='editFlagModal-#{flag._id}')
        .modal-content
            h4 Edit: #{flag.name}

            +edit-flag-form(flag)


mixin edit-flag-form(flag)
    .row
        form.col.s12(action='/flags/edit/#{flag._id}' method='post')
            .row
                .input-field.col.s12
                    label(for='name') Name
                    input(name="name" type='text' value='#{flag.name}')

            .row
                .input-field.col.s3
                    label.active(for='integer_value') Integer Value
                    input#integer_value(name='integer_value' value='#{flag.integer_value}')

                .col.s7.offset-s2
                    label Flag
                    select#flag.browser-default(name='flag')
                        - selections = [ 'true', 'false' ]
                        each item in selections
                            option(selected=flag.flag == item) #{item}

            .row.section
                .col.s6
                    label.active(for='valid_from') Valid From (YYYY-MM-DD)
                    input#valid_from.datepicker(name='valid_from' type='text' value='#{flag.valid_from}')

                .col.s6
                    label.active(for='valid_to') Valid To (YYYY-MM-DD)
                    input#valid_to.datepicker(name='valid_to' type='text' value='#{flag.valid_to}')

            a.modal-action.modal-close.btn
                | Cancel
            button.update-image.btn(type='submit')
                | Update
