@import 'base';

/* ---------------------------------------------------------------------- */
/* Component Styling */
/* ---------------------------------------------------------------------- */

    #refresh-button,
    #update-bento-button {
        &:hover:after {
            /* .font-px(18); */
            font-size: 20px;
            font-family: @font-family-default;
            color: #222;
            text-shadow: none;
            position: absolute;
            left: 70px;
            top: 70px;
            background-color: #fafafa;
            padding: 5px;
        }
    }

    #refresh-button {
        &:hover:after { content: "refresh calendar"; }
    }

    #update-bento-button {
        &:hover:after { content: "push to bento"; }
    }

    #calendar {
        clear: both;
        position: absolute;
        background-color: #fff;
        padding: 15px;
        border: none;
        border-radius: 0;
        text-align: center;
        margin-bottom: 70px;
        margin-right: 15px;
        .box-shadow(0 4px 6px rgba(0,0,0,0.5));
    }

/* ---------------------------------------------------------------------- */
/* Mix-it-up Styling */
/* ---------------------------------------------------------------------- */

    #current-images .mix { display: none; }

/* ---------------------------------------------------------------------- */
/* Image Cards Styling */
/* ---------------------------------------------------------------------- */

    #current-images {
        padding: 60px 50px;
        max-height: 60vh;
        overflow-y: scroll;
    }

    #current-image-table td { padding: 5px 0; }

    .card-title { width: 100%; }

/* ---------------------------------------------------------------------- */
/* New Image Form */
/* ---------------------------------------------------------------------- */

    #image-preview {
        .box-shadow(0 0 2px #000);
        background-color: @box-gray;
        padding: 20px 0 20px 20px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

/* ---------------------------------------------------------------------- */
/* Edit/Preview Window Styling */
/* ---------------------------------------------------------------------- */

    div[id^="previewModal-"] {

        h1{
            font-family: 'HelveticaNeue';
            font-size: 32px;
            line-height: 36px;
            float: left;
            width: 66%;
            margin-top: 175px;
        }

    }

    #searchbar-placeholder {
        position: absolute;
        top: 268px;
        background: @yp-yellow;
        height: 56px;
        width: 620px;
    }

    #upsell-area {
        float: right;
        margin-left: 6%;
        margin-top: -100px;
        height: 360px;
        width: 280px;
        background: rgba(0,0,0,0.5);
    }

/* ---------------------------------------------------------------------- */
/* Dropzone.js Styling */
/* ---------------------------------------------------------------------- */

    .dropzone {
        border: 5px dashed #777;
        border-radius: 5px;
        min-height: 150px;
        padding: 48px;
        box-sizing: border-box;
        margin: 32px 16px 32px 0;
        &:hover { background-color: @arbitrary-hover-color; }
    }

    .dz-clickable { cursor: pointer; }

    .dz-default {
        /* .font-px(18); */
        font-size: 20px;
        font-family: @font-family-default;
        color: #222;
        padding: 5px;
        text-shadow: none;
        text-align: center;
    }

    .dz-success-mark,
    .dz-error-mark { display: none; }

    .dz-filename {
        text-align: left;
        padding: 0 0 3px 5px;
    }
