@import 'variables';
@import 'mixins';
@import 'material-icons';

/* ---------------------------------------------------------------------- */
/* Main Styling */
/* ---------------------------------------------------------------------- */
    body {
        overflow: scroll !important;
        -webkit-font-smoothing: antialiased;
        font: normal 14px @font-family-default;
        background-color: @body-bg-color;
    }

    small {
        vertical-align: super;
    }

    .btn {
        border-radius: 0;
        box-shadow: 0 0 0;
    }

    .site-logo {
        float: left;
        height: 60px;
        width: 60px;
        background-color: @yp-logo-black-bg;
        margin-left: 10px;
        margin-right: 10px;
    }
