@import 'base';

#main {
    background: #ccc;
    padding-left: 30px;
    padding-right: 30px;
    height: 50vh;
    overflow-y: scroll;

    a, a:hover, a:focus {
        font-weight: bold;
        color: #222;
    }

}

#flags-table { margin-top: 20px; }

#calendar-container { margin-top: 50px; }

#new-flag-form .row { margin-bottom: 5px; }

#update-bento-button { float: right; }
