@import 'variables';
@import 'mixins';
@import 'base';

/* ---------------------------------------------------------------------- */
/* Styling for Lite Page */
/* ---------------------------------------------------------------------- */
    #wrapper {
        padding-left: 312px;
        position: relative;
        margin-left: 40px;
    }

    #bannerList {
        margin: 0 0 30px 0;
        table {
            border-collapse: separate;
            border-spacing: 1px;
            background: #ccc;
            th {
                background: @lt-gray;
                font-weight: 600;
                padding: 10px 20px;
                text-align: center;
            }
            td {
                background: #fff;
                padding: 5px 10px;
                text-align: center;
            }
            tbody {
                padding: 0;
                margin: 0;
                border-collapse: collapse;
                border-spacing: 0px;
            }
        }
    }

    #bannerInfo {
        width: 275px;
        position: absolute;
        left: 0;
        word-wrap: break-word;
        p {
            padding: 15px;
            border: 1px solid #ccc;
            background: @content-bg-color;
        }

        #bannerInfoImage {
            width: 250px;
            margin-bottom: 10px;
        }
    }
