/* ==================================================================
    Mixins
    - Utility mixins
    - CSS3
    - Typography
   ================================================================== */

/* =============================
  Utility
================================ */

    .clearfix { // should be part of 'global' less file
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
            // Fixes Opera/contenteditable bug:
            // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
            line-height: 0;
        }
        &:after {
            clear: both;
        }
    }

    .border-radius(@radius) {
      -webkit-border-radius: @radius;
         -moz-border-radius: @radius;
              border-radius: @radius;
    }

    .box-shadow(@shadow) {
      -webkit-box-shadow: @shadow;
         -moz-box-shadow: @shadow;
           -o-box-shadow: @shadow;
              box-shadow: @shadow;
    }

/* =============================
  ♥ Typography
================================ */

    .font-px(@pxSize; @pxLine: normal) {
      // Accepts font-size and line-height values(px) without units.
      @base-size: 16;

      @remSize: @pxSize / @base-size;
      font-size:    ~"@{pxSize}px";
      font-size:    ~"@{remSize}rem";

      & when not (@pxLine = normal) {
        @remLine: @pxLine / @base-size;

        line-height:  ~"@{pxLine}px";
        line-height:  ~"@{remLine}rem";
      }

      & when (@pxLine = normal) {
        line-height:  normal;
      }
    }
