// Colors
    @yp-yellow:                 #ffd400;
    @yp-hover-yellow:           #ffdd00;
    @yp-yellow-lt:              #fce26e;
    @yp-yellow-dk:              #996600;
    @yp-logo-black-bg:          #231f20;
    @body-bg-color:             #fafafa;
    @content-bg-color:          #edebdd;
    @arbitrary-hover-color:     #b1dcfb;

// Color Shortcuts
    @green:                     #81d83b;
    @crimson:                   #ed5400;
    @med-blue:                  #067ab4;
    @lt-gray:                   #f0f0f0;
    @med-light-gray:            #dfdfdf;
    @beige-brown:               #d0cebb;
    @beige-gray:                #aca96a;
    @box-gray:                  #f7f6f2;
    @primary:                   #009688;
    @warning:                   #ff5722;
    @info:                      #03a9f4;

// Defaults
    @font-family-default:       RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
