mixin header-nav(title)
    .nav-wrapper
        nav.blue-grey
            a.brand-logo(href='/')
                img.site-logo(src='/images/logo-yp.png')
                | #{title}
                small beta
            ul.right.hide-on-med-and-down
                li
                    a(href='/') Homepage Banner Images
                li
                    a(href='/flags/index') All-Purpose Flags
                li
                    a(href='/lite') Lite (experimental)
            ul#slide-out.side-nav
                li
                    a(href='/') Homepage Banner Images
                li
                    a(href='/flags/index') All-Purpose Flags
                li
                    a(href='/lite') Lite (experimental)
            a.button-collapse(href='#' data-activates='slide-out')
                i.material-icons menu
