doctype html
html
    block head
        title= title

        link(rel='stylesheet', href='/node_modules/materialize-css/dist/css/materialize.min.css')
        link(rel='stylesheet', href='/node_modules/fullcalendar/dist/fullcalendar.min.css')
        link(rel='stylesheet', href='/node_modules/jquery-datetimepicker/jquery.datetimepicker.css')

        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        meta(http-equiv='Content-Language' content='en')

    body
        block content
        block script
            script(src='/node_modules/jquery/dist/jquery.min.js')
            script(src='/node_modules/materialize-css/dist/js/materialize.min.js')
            script(src='/node_modules/fullcalendar/node_modules/moment/min/moment.min.js')
            script(src='/node_modules/fullcalendar/dist/fullcalendar.js')
            script(src='/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js')
