mixin update-bento
    #update-bento.modal
        .modal-content
            h4 Are you sure you want to push updates to bento now?
            .modal-footer
                a.call-bento-recache.modal-action.modal-close.btn-flat
                    | Yes
                a.modal-action.modal-close.btn-flat
                    | No


mixin update-bento-successful
    #update-bento-successful.modal.bottom-sheet
        .modal-content
            h4 BENTO SUCCESSFULLY UPDATED
